#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  border: 2px solid;
  box-shadow: 10px 10px 30px #00000092;
  background-color: #3c3c3c;
  border-radius: 10px;
  width: 80VW;
  max-width: 60vw;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2vh;
}
.container:hover{
 transform: scale(1.1);
}
.container p:hover, .container h2:hover{
 transform: scale(1.2);
}
.container p, h2 {
  transition: all 0.3s ease-in-out;
}

.ProfPic {
border-radius: 50%;
width: 200px;
height: 200px;
object-fit: cover;
}

.CRTs {
  /* border: 4px dashed; */
  display: flex;
  gap: 2vw;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  /* align-items: center; */
}
.CRTinfos {
  margin-right: 5vw;
  /* border: 2px dashed; */
  text-align: end;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */

  /* border: 4px dashed; */
  /* flex-wrap: wrap; */
}
.CRTinfos p {
  margin: 0 0 1vh 0;
}
.CRTinfos h2 {
  margin: 1vh 0 0 0;
}

.CRTinfos hr {
  background-color: white;
  margin-left: 3vw;
  width: 90%;
  height: 2px;
}
.Name {
  font-size: 2em;
}